* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
    
  header {
    background-color: #001242;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .navigation {
    background-color: #000022;
    display: flex;
      flex-direction: column;
      list-style: none;
  }
  
  
  .navigation a {
      display: none;
      padding: 1rem;
      text-align: center;
      text-decoration: none;
      color: whitesmoke;
  }

  
  #hero-img{
    width: 100%;
}

  p{
    padding-left: 10px;
}

#mission{
    position: absolute;
    top: 45%;
    right: 5%;
    background-color: #0094C6;
    color: #CFDEE7;
    width: 45%;
}
  /* when the button is clicked - the open class is toggled (added/removed) */
  .open a {
      display: block;
  }
  
  nav a:hover {
    color: black;
    background-color: whitesmoke;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  h1 {
    color: whitesmoke;
    text-align: center;
    font-family: 'roboto', serif;
  }
  
  .parent {
    margin: 1rem 2vw;
  }
  
  .card {
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
  }
  
  #visit-counter {
    padding: 10px;
  }
  
  
  footer {
    background: #0094C6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  
  }
  
  footer p {
    color: white;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
  }
  
  #menu {
      font-size: 2rem;
      border: 0;
      background: none;
      color: #000;
    left: 1rem;
    
  }
  
  #menu::before {
      content: "☰";
    color: #01295F;
  }
  
  #menu.open::before {
      content: "❎";
  }
  
  #mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
  }
  
  .dark-mode {
    background-color: #000;
    color: #fff;
    border-color: #eee; 
  }
  .container-discover {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr; 
  }

  .special-attractions {
    list-style-type: none;
    padding: 10px;
    }
  
  .special-attractions > li {
    text-decoration: underline;
    font-size: large;
    font-weight: bold;
  }
  
  .subgroup {
    padding-left: 20px;
  }
  
  .subgroup li {
    text-decoration: none;
    font-weight: normal;
    font-style: italic; 
  }
  
  .sidebar {
    background-color: #01295F;
    color: #eee;
    padding-top: 500px;
    padding: 20px;
    position: sticky;
    top: 0;
    height: 100vh; 
    width: 350px; 
  }
  
  .calendar {
    max-width: 100%; 
    overflow-x: hidden; 
  }
  
  .calendar iframe {
    width: 100%; 
    height: 400px; 
  }
  .title{
    background-color: #01295F;
    text-align: center;
    color:#fff ;
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  
  .gallery figure {
    margin: 0;
    position: relative;
  }
   picture{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
  } 

  picture img{
    width: 100%;
    height: auto;
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.607);
    transition: opacity 0.3s ease;
  }
  .gallery:hover .overlay {
    opacity: 0;
  }
  .caption {
    color: black;
    font-family: 'roboto', serif;
    background-color: rgb(255, 255, 255, 0.5);
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
  }

  