* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
    
  header {
    background-color: #001242;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .navigation {
    background-color: #000022;
    display: flex;
      flex-direction: column;
      list-style: none;
  }
  
  
  .navigation a {
      display: none;
      padding: 1rem;
      text-align: center;
      text-decoration: none;
      color: whitesmoke;
  }

  
  #hero-img{
    width: 100%;
}

#join-us{
  display: inline-block;
  width: 20%;
  padding: 15px 30px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#join-us:hover{
  background-color: black;
}

  p{
    padding-left: 10px;
}

#mission{
    position: absolute;
    top: 45%;
    right: 5%;
    background-color: #0094C6;
    color: #CFDEE7;
    width: 45%;
}
  /* when the button is clicked - the open class is toggled (added/removed) */
  .open a {
      display: block;
  }
  
  nav a:hover {
    color: black;
    background-color: whitesmoke;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  h1 {
    color: whitesmoke;
    text-align: center;
    font-family: 'roboto', serif;
  }
  
  .parent {
    margin: 1rem 2vw;
  }
  
  .card {
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
  }
  
  #visit-counter {
    padding: 10px;
  }
  
  
  footer {
    background: #0094C6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  
  }
  
  footer p {
    color: white;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
  }
  
  #menu {
      font-size: 2rem;
      border: 0;
      background: none;
      color: #000;
    left: 1rem;
    
  }
  
  #menu::before {
      content: "☰";
    color: #01295F;
  }
  
  #menu.open::before {
      content: "❎";
  }
  
  #mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
  }
  
  .dark-mode {
    background-color: #000;
    color: #fff;
    border-color: #eee; 
  }
  .container-discover {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr; 
  }

  .special-attractions {
    list-style-type: none;
    padding: 10px;
    }
  
  .special-attractions > li {
    text-decoration: underline;
    font-size: large;
    font-weight: bold;
  }
  
  .subgroup {
    padding-left: 20px;
  }
  
  .subgroup li {
    text-decoration: none;
    font-weight: normal;
    font-style: italic; 
  }
  
  .sidebar {
    background-color: #01295F;
    color: #eee;
    padding-top: 500px;
    padding: 20px;
    position: sticky;
    top: 0;
    height: 100vh; 
    width: 350px; 
  }
  
  .calendar {
    max-width: 100%; 
    overflow-x: hidden; 
  }
  
  .calendar iframe {
    width: 100%; 
    height: 400px; 
  }
  .title{
    background-color: #01295F;
    text-align: center;
    color:#fff ;
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  
  .gallery figure {
    margin: 0;
    position: relative;
  }
   picture{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
  } 

  picture img{
    width: 100%;
    height: auto;
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.607);
    transition: opacity 0.3s ease;
  }
  .gallery:hover .overlay {
    opacity: 0;
  }
  .caption {
    color: black;
    font-family: 'roboto', serif;
    background-color: rgb(255, 255, 255, 0.5);
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
  }

  /*Form*/
  :root{
    --background: black;
    --title-color: white;
    --box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

#feedback{
    color: red;
}

legend{
    font-family: "roboto", sans-serif;
    font-size: 2em;
    color:var(--title-color);
    background-color: var(--background);
    box-shadow: var(--box-shadow);
    text-align: center;
    display: block;
    width: 100%;
}

form{
    padding: 30px;
    text-align: center;
}

form label{
    width: 300px;
    margin: 0 auto;
    padding: .75em;
}

form label.top input{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}
form label.top input[type=password]{
    font-size: 1.5rem;
    list-style-type: square;
}
form label.top input:required{
    border-left: red solid 10px;
}
form label.top input:required:valid{
    border-left: green solid 10px;
}
form input.submitBtn{
    border: 4px solid black;
    background-color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    font-size: 2em;
    width: 50%;
    margin: 0 auto;
    box-shadow: var(--box-shadow);
    transition: all 0.30s ease;
}

form input.submitBtn:hover{
    background-color: #01295F;
    color: white;
    cursor: pointer;
}

.form-container{
    text-align: center;
    padding: 20px;
}
hr {
	margin-bottom: 40px;
    margin-top: 20px;
}
label {
	display: block;
	font-weight: 700;
}
#r {
    width: 180px;
    margin: 0;
  }
  input[type=range] {
	margin: 1rem;
	padding: 0.9em;
}

  
  #rangevalue {
    font-size: 2rem;
    color: navy;
    margin: 0;
  }



.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.5); 
}

.modal-content {
    background-color: #fefefe; 
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




/* Join Site */
.main-grid{
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  gap: 2%;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
}

.description {
  display: block;
  margin-bottom: 1em;
  font-size: 1em;
}

.description textarea{
  display: block;
  width: 100%;
}

form label.membershipLevel, form div{
  display: block;
  padding-top: .75em;
  margin: 0 auto;
  width: 200px;
  text-indent: 1px;
}
.membershipLevel input,
.membershipLevel select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.membershipLevel select{
  display: inline-block;
	cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0; 
  border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: black;
	font-size: 1em;
	color: black;
	border:2px solid black;
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
}

.membershipLevel select:hover{
  background: #01295F;
  color: white;
}

.membershipLevel{
  max-width: 500px;
	position: relative;
}
.membershipLevel select::-ms-expand{
  display: none;
}

.columns-benefits{
  background-color: #A3A2DF;
  padding-top: 500px;
  padding: 20px;
  top: 0;
  height: 100vh;
  width: 350px;
}
.columns-benefits {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.columns-benefits h2 {
  font-size: 1.5em;
  margin-top: 0;
}

.columns-benefits p {
  font-size: 1em;
  margin: 5px 0;
}

.columns-benefits ul {
  font-size: 1em;
  margin: 5px 0 0 20px;
  padding: 0;
}

.columns-benefits ul li {
  font-size: 1em;
  list-style-type: disc;
}
.dropdown-list {
  list-style: none;
  padding: 0;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-content {
  display: none;
}

.dropdown-content li {
  font-size: 1em;
  padding-left: 20px;
}

.dropdown-toggle.active + .dropdown-content {
  display: block;
}
hr{
  padding: 10px;
  
}



  