@media only screen and (min-width: 45rem) {

  .parent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
  }

  .card {
    box-shadow: 1px 1px 10px black;
  }

  .navigation {
    display: flex;
    background-color: #CFDEE7;
    justify-content: center;
    flex-direction: row;
  }

  .navigation li a {
    display: flex;
    list-style: none;
    font-size: 1.2em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    padding-top: 0%;
    padding-bottom: 0%;
    text-decoration: none;
  }
  nav a:hover {
    color: #CFDEE7;
    background-color: #01295F;
  }
  #menu {
		display: none; /* hide hamburger button */
	}

  #mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
  }

  .dark-mode {
    background-color: #000;
    color: #fff;
    border-color: #eee; 
  }
}